<?xml version="1.0" encoding="utf-8"?>

<configuration>


  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BrightSword.Pegasus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="WhingePool.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WhingePool.Core.Properties.Settings>
      <setting name="WhingesTableName" serializeAs="String">
        <value />
      </setting>
      <setting name="WhingersTableName" serializeAs="String">
        <value />
      </setting>
      <setting name="WhingePoolsTableName" serializeAs="String">
        <value />
      </setting>
      <setting name="WhingesByWhingerTableName" serializeAs="String">
        <value />
      </setting>
      <setting name="WhingesByWhingePoolTableName" serializeAs="String">
        <value />
      </setting>
      <setting name="StorageAccount" serializeAs="String">
        <value />
      </setting>
      <setting name="StorageAccountKey" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisteredCommandHandlersTableName" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisteredCommandHandlersBlobContainerName" serializeAs="String">
        <value />
      </setting>
      <setting name="CommandQueueName" serializeAs="String">
        <value />
      </setting>
      <setting name="CommandResultsTableName" serializeAs="String">
        <value />
      </setting>
    </WhingePool.Core.Properties.Settings>
  </applicationSettings>
</configuration>