@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
    <div class="hero-unit">
        <h1>WhingePool</h1>
        <p class="lead">WhingePool allows you to whinge and get things off your chest, so you can continue on with the rest of your life.</p>
        
    </div>
    </div>
</div>