<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BrightSword.Pegasus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataCacheClients>
    <dataCacheClient name="default">
      <autoDiscover isEnabled="true" identifier="[cache cluster role name]" />
      <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->
    </dataCacheClient>
  </dataCacheClients>
  <cacheDiagnostics>
    <crashDump dumpLevel="Off" dumpStorageQuotaInMB="100" />
  </cacheDiagnostics>
  <applicationSettings>
    <BrightSword.Pegasus.Properties.Settings>
      <setting name="StorageAccount" serializeAs="String">
        <value />
      </setting>
      <setting name="StorageAccountKey" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisteredCommandHandlersTableName" serializeAs="String">
        <value />
      </setting>
      <setting name="RegisteredCommandHandlersBlobContainerName" serializeAs="String">
        <value />
      </setting>
      <setting name="CommandQueueName" serializeAs="String">
        <value />
      </setting>
      <setting name="CommandResultsTableName" serializeAs="String">
        <value />
      </setting>
    </BrightSword.Pegasus.Properties.Settings>
  </applicationSettings>
</configuration>